<div class="animated fadeInLeft">
    <h1>Instrucciones del examen</h1>
    <hr>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Secciones del examen
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>La evaluación, que estas a punto de iniciar,</strong> consta de 4 secciones que deberás responder. Tendras X tiempo para completar el examen. El tiempo se mostrara cada minuto en la esquina inferior derecha. El tiempo iniciara
                    cuando inicies cualquier sección <br>
                    <code>Una vez que acabe el tiempo no podras volver al examen, y solo podras dar click a "Terminar Examen" :)</code>
                    <br>
                    <img class="rounded mx-auto d-block" src="assets/img/tiempo.png" alt="Tiempo">
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Al responder...
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Todas las preguntas son de opción múltiple, no olvides que, al seleccionar la respuesta, tendrás que dar clic en el botón "Guardar respuesta".
                    <br>
                    <img class="rounded mx-auto d-block" src="assets/img/btn-guardarResp.png" alt="Boton Guardar Respuesta">
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Terminar Sección
            </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Cuando estes seguro</strong> de que quieres terminar una sección, da click en el boton "Terminar Sección", de esta manera podras seguir con la siguiente parte del examen. <br> Ya que termines de responder todas las preguntas
                    es importante que des click a "Terminar Seccion", ya que de lo contrario no se contara como contestada la sección
                    <br>
                    <img class="rounded mx-auto d-block" src="assets/img/btn_terminarSecc.png" alt="Boton Terminar Seccion">
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Terminar Examen
            </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Cuando estes seguro</strong> de que hayas terminado todas las preguntas del examen da click en el boton "Terminar Examen" que se encuentra en la pagina principal de las secciones.
                    <br>
                    <img class="rounded mx-auto d-block" src="assets/img/btn_terminarExam.png" alt="Boton Terminar Examen">
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              ¿Otros problemas?
            </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>En caso de que te encuentres en estas situaciones</strong>
                    <ol class="list-group list-group-numbered">
                        <li>Conexión a internet muy inestable.</li>
                        <li>Cerrar la pestaña por error.</li>
                        <li>Se termine la batería a tu celular.</li>
                        <li>Se interrumpa la energía eléctrica.</li>
                        <li>Se apague tu dispositivo.</li>
                    </ol>
                    <br> <code>El sistema guardará las respuestas, asi que solo vuelve a ingresar y continua desde donde lo dejaste</code>
                </div>
            </div>
        </div>
    </div>
</div>