<div class="card animated fadeInLeft">
    <div class="container-fluid">
        <div class="container d-flex p-3">
            <h1>Examen Diseño UTT</h1>
            <button class="btn btn-danger ml-auto" (click)="cerra()">Cerrar Sesion</button>
        </div>
        <p class="lead">Bienvenido <code>{{user.usuario}}</code> al examen de Diseño UTT 2021. <br> Antes de empezar el examen asegurate de leer la seccion <code>Acerca de</code>.
        </p>
        <p class="lead">
            Te deseamos mucha suerte en tus resultados!!
        </p>
    </div>
</div>