<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #BDECB6;">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="assets/img/utt.png" alt="" width="130" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>




        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link " aria-current="page" [routerLink]="['home']">Home</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['about']">Acerca de...</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['secciones']">Secciones</a>
                </li>


            </ul>
            <a></a>


            <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" (keyup.enter)="buscarSeccion(buscarTexto.value)" #buscarTexto>
                <button (click)="buscarSeccion(buscarTexto.value)" class="btn btn-outline-success" type="button">Buscar</button>
            </form> -->


        </div>
    </div>
</nav>