<h1>Buscando: <small>{{termino}}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="secciones.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino: {{termino}}
        </div>
    </div>
</div>

<div class="card-group">

    <div class="card animated fadeIn fast" *ngFor="let seccion of secciones; let i = index">
        <div class="card h-100">
            <img [src]="seccion.img" class="img-logo" [alt]="seccion.nombre">
            <div class="card-body" style="width:15rem">
                <h5 class="card-title">{{seccion.nombre}}</h5>
                <p class="card-text">{{ seccion.des }}</p>
            </div>
            <div class="card-footer">
                <button (click)="verSeccion(i)" type="button" class="btn btn-outline-success btn-lg btn-block">
                    Empezar esta seccion
                </button>

                <!-- <a [routerLink]="['/seccion', i]" class="btn btn-outline-primary">Empezar esta seccion...</a> -->

            </div>
        </div>
    </div>

</div>